---
# quote section
t1: "{{ values.true_val_1 }}"
f1: "{{ values.false_val_1 }}"

t2: "{{ values.true_val_2 }}"
f2: "{{ values.false_val_2 }}"

t3: "{{ values.true_val_3 }}"
f3: "{{ values.false_val_3 }}"

t4: "{{ values.true_val_4 }}"
f4: "{{ values.false_val_4 }}"

t5: "{{ values.true_val_5 }}"
f5: "{{ values.false_val_5 }}"

# non-quote section
tn1: {{ values.true_val_1 }}
fn1: {{ values.false_val_1 }}

tn2: {{ values.true_val_2 }}
fn2: {{ values.false_val_2 }}

tn3: {{ values.true_val_3 }}
fn3: {{ values.false_val_3 }}

tn4: {{ values.true_val_4 }}
fn4: {{ values.false_val_4 }}

tn5: {{ values.true_val_5 }}
fn5: {{ values.false_val_5 }}

# facts + quote section
tf1: "{{ v_true_val_1 }}"
ff1: "{{ v_false_val_1 }}"

tf2: "{{ v_true_val_2 }}"
ff2: "{{ v_false_val_2 }}"

tf3: "{{ v_true_val_3 }}"
ff3: "{{ v_false_val_3 }}"

tf4: "{{ v_true_val_4 }}"
ff4: "{{ v_false_val_4 }}"

tf5: "{{ v_true_val_5 }}"
ff5: "{{ v_false_val_5 }}"

# facts + non-quote section
tfn1: {{ v_true_val_1 }}
ffn1: {{ v_false_val_1 }}

tfn2: {{ v_true_val_2 }}
ffn2: {{ v_false_val_2 }}

tfn3: {{ v_true_val_3 }}
ffn3: {{ v_false_val_3 }}

tfn4: {{ v_true_val_4 }}
ffn4: {{ v_false_val_4 }}

tfn5: {{ v_true_val_5 }}
ffn5: {{ v_false_val_5 }}